Repository Qualis/www-qual-is: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

Adding to The Knowledge That Disappears post
  _posts/the-knowledge-that-disappears.md
Due: prettier --write

Fix 500 error on missing posts, add SVG accessibility, and fix client component SSR errors
  src/app/_components/hero.test.tsx
  src/app/_components/hero.tsx
  src/app/_components/modal/contact-modal.test.tsx
  src/app/_components/modal/contact-modal.tsx
  src/app/_components/services.test.tsx
  src/app/_components/services.tsx
  src/app/_components/theme-switcher.test.tsx
  src/app/_components/theme-switcher.tsx
  src/app/lib/api.test.ts
  src/app/lib/api.ts
  src/app/posts/[slug]/opengraph-image.test.tsx
  src/app/posts/[slug]/opengraph-image.tsx
  src/application/services/PostService.ts
  src/application/use-cases/GetAllPosts.ts
  src/application/use-cases/GetAllTopics.ts
  src/application/use-cases/GetPostBySlug.ts
  src/domain/repositories/IPostRepository.ts
  src/infrastructure/repositories/FileSystemPostRepository.test.ts
  src/infrastructure/repositories/FileSystemPostRepository.ts
  src/infrastructure/repositories/InMemoryPostRepository.test.ts
  src/infrastructure/repositories/InMemoryPostRepository.ts
Due: prettier --write, vitest related --run

Adding security headers
  next.config.js
Due: prettier --write, vitest related --run

Expanding on aletheia drafting the-knowledge-that-disappears.md
  _posts/the-knowledge-that-disappears.md
Due: prettier --write

umami fix
  next.config.js
Due: prettier --write, vitest related --run

Dependency update
  package-lock.json
Due: prettier --write

Initial blurb on https://github.com/svo/consented-signal
  _posts/the-signal-and-the-silence.md
Due: prettier --write

Initial blurb on https://github.com/svo/knowledge-matchmaker
  _posts/the-knowledge-that-disappears.md
Due: prettier --write

Post on After the Artifact
  _posts/after-the-artifact.md
Due: prettier --write

Install jq, ripgrep, fd-find, tree, and gh in claude-code role
  infrastructure/ansible/roles/claude-code/tasks/main.yml
Due: none

Split claude-code gh apt_repository repo line via set_fact
  infrastructure/ansible/roles/claude-code/tasks/main.yml
Due: none

Use single-quoted apt repo string in claude-code role (prettier)
  infrastructure/ansible/roles/claude-code/tasks/main.yml
Due: none

chore: More formal headshot
  public/assets/blog/authors/svo-formal.png
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
  vitest related --run: any of: *.{ts,tsx,js,jsx}
