Repository Qualis/www-qual-is: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

Blog image updates
  public/assets/blog/categories/engineer-banner.png
  public/assets/blog/categories/lead-banner.png
  public/assets/blog/categories/lead.png
  public/assets/blog/categories/manage-banner.png
  public/assets/blog/categories/think-banner.png
Due: none

Removing deprecated ci.yml GitHub workflow
  .github/workflows/ci.yml
Due: none

Updated target code coverage to 100%
  README.md
Due: prettier --write

Working on corrections for AWS Amplify deployment issue
  next.config.js
  run.sh
  vitest.config.ts
Due: prettier --write, vitest related --run

Updates to create-service script
  bin/create-service
Due: none

Building service image
  .gitignore
  README.md
  bin/create-service
  run.sh
Due: prettier --write

Experiment: attempting to avoid playwright issue with AWS Amplify deployment
  package.json
Due: prettier --write

Building test coverage
  README.md
  eslint.config.mjs
  package.json
  src/app/_components/avatar.test.tsx
  src/app/_components/container.test.tsx
  src/app/_components/hero-post.test.tsx
  src/app/_components/more-stories.test.tsx
  src/app/_components/post-body.test.tsx
  src/app/_components/post-header.test.tsx
  src/app/_components/post-preview.test.tsx
  src/app/_components/post-title.test.tsx
  src/app/_components/social-links.test.tsx
  src/lib/api.test.ts
  src/lib/constants.test.ts
  src/lib/markdownToHtml.test.ts
  vitest.config.ts
  vitest.setup.ts
Due: prettier --write, vitest related --run

Adding tests for contact modal
  src/app/_components/modal/contact-modal.test.tsx
Due: prettier --write, vitest related --run

Getting test:unit:watch to work on Vagrant docker container
  vitest.config.ts
Due: prettier --write, vitest related --run

Adding tests for topic filter
  src/app/_components/topic-filter.test.tsx
Due: prettier --write, vitest related --run

Build badge
  README.md
Due: prettier --write

Test for missing coverage for api
  src/lib/api.test.ts
Due: prettier --write, vitest related --run

Adding tests for theme switcher
  src/app/_components/theme-switcher.test.tsx
Due: prettier --write, vitest related --run

Adding tests for cover image
  src/app/_components/cover-image-with-title.test.tsx
  src/app/_components/cover-image.test.tsx
Due: prettier --write, vitest related --run

Adding tests header and footer
  src/app/_components/footer.test.tsx
  src/app/_components/header.test.tsx
Due: prettier --write, vitest related --run

Adding tests hero component
  src/app/_components/hero.test.tsx
Due: prettier --write, vitest related --run

Adding tests intro component
  src/app/_components/intro.test.tsx
Due: prettier --write, vitest related --run

Adding tests navigation component
  src/app/_components/navigation.test.tsx
Due: prettier --write, vitest related --run

Adding tests for optimized-image component
  src/app/_components/optimized-image.test.tsx
Due: prettier --write, vitest related --run

Adding tests for services component
  src/app/_components/services.test.tsx
Due: prettier --write, vitest related --run

Setting expected coverage to 100%
  README.md
  vitest.config.ts
Due: prettier --write, vitest related --run

Adding about page e2e tests
  e2e/about.spec.ts
Due: prettier --write, vitest related --run

Adding npm audit
  README.md
  package-lock.json
  package.json
Due: prettier --write

Correcting some assertion bundling
  src/app/_components/container.test.tsx
  src/app/_components/date-formatter.test.tsx
  src/lib/api.test.ts
Due: prettier --write, vitest related --run

Moving to hexagonal architecture
  package-lock.json
  package.json
  src/app/_components/theme-switcher.tsx
  src/application/services/PostService.ts
  src/application/use-cases/GetAllPosts.ts
  src/application/use-cases/GetAllTopics.ts
  src/application/use-cases/GetPostBySlug.ts
  src/domain/repositories/IPostRepository.ts
  src/infrastructure/di/container.test.ts
  src/infrastructure/di/container.ts
  src/infrastructure/repositories/FileSystemPostRepository.test.ts
  src/infrastructure/repositories/FileSystemPostRepository.ts
  src/infrastructure/repositories/InMemoryPostRepository.test.ts
  src/infrastructure/repositories/InMemoryPostRepository.ts
  src/lib/api.test.ts
  src/lib/api.ts
  src/lib/transformers.test.ts
  src/lib/transformers.ts
Due: prettier --write, vitest related --run

Restricting domains for umami
  src/app/layout.tsx
Due: prettier --write, vitest related --run

Adding LICENSE
  LICENSE
Due: none

Error handling to FileSystemPostRepository
  src/infrastructure/repositories/FileSystemPostRepository.test.ts
  src/infrastructure/repositories/FileSystemPostRepository.ts
Due: prettier --write, vitest related --run

eslint security plugins
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

Moving away from any types in theme-switcher
  src/app/_components/theme-switcher.test.tsx
  src/infrastructure/di/container.ts
  src/lib/api.ts
Due: prettier --write, vitest related --run

Factory pattern with constructor injection for dependency injection
  src/infrastructure/di/container.test.ts
  src/infrastructure/di/container.ts
  src/lib/api.test.ts
Due: prettier --write, vitest related --run

Linting fixes to markdown
  _posts/agree-and-adjust.md
  _posts/deflect-and-defer.md
Due: prettier --write

Adding type-check to pre-commit
  .husky/pre-commit
Due: none

Dependency upgrades
  next.config.js
  package-lock.json
  package.json
Due: prettier --write, vitest related --run

Moving away from networkidle load state to avoid CI issue
  e2e/about.spec.ts
  e2e/blog.spec.ts
  e2e/homepage.spec.ts
  e2e/post.spec.ts
Due: prettier --write, vitest related --run

Renaming stories to posts for consistency
  .gitignore
  package-lock.json
  package.json
  src/app/_components/more-posts.test.tsx
  src/app/_components/more-posts.tsx
  src/app/_components/topic-filter.test.tsx
  src/app/_components/topic-filter.tsx
  tsconfig.json
Due: prettier --write, vitest related --run

README updates
  README.md
Due: prettier --write

Architectural unit tests
  .dependency-cruiser.js
  README.md
  package-lock.json
  package.json
  src/app/blog/page.tsx
  src/app/lib/api.test.ts
  src/app/lib/api.ts
  src/app/posts/[slug]/page.tsx
  src/app/sitemap.ts
  vitest.config.ts
Due: prettier --write, vitest related --run

Adding a splash of colour
  e2e/blog.spec.ts
  src/app/_components/hero-post.test.tsx
  src/app/_components/hero-post.tsx
  src/app/_components/hero.test.tsx
  src/app/_components/hero.tsx
  src/app/_components/intro.test.tsx
  src/app/_components/intro.tsx
  src/app/_components/modal/contact-modal.test.tsx
  src/app/_components/modal/contact-modal.tsx
  src/app/_components/post-preview.test.tsx
  src/app/_components/post-preview.tsx
  src/app/_components/services.test.tsx
  src/app/_components/services.tsx
  src/app/_components/topic-filter.test.tsx
  src/app/_components/topic-filter.tsx
  src/app/about/page.tsx
  tailwind.config.ts
Due: prettier --write, vitest related --run

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
  vitest related --run: any of: *.{ts,tsx,js,jsx}
