Repository Qualis/www-qual-is: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["prettier --write", "vitest related --run"],
  "*.{json,css,md}": ["prettier --write"]
}

Junit report format for vitest
  .github/workflows/service.yml
  vitest.config.ts
Due: prettier --write, vitest related --run

Removing unused components
  src/app/_components/avatar.test.tsx
  src/app/_components/avatar.tsx
  src/app/_components/cover-image.test.tsx
  src/app/_components/cover-image.tsx
  src/app/_components/header.test.tsx
  src/app/_components/header.tsx
Due: prettier --write, vitest related --run

Removing currently unused behaviours
  src/app/lib/api.test.ts
  src/app/lib/api.ts
  src/application/services/PostService.ts
  src/lib/transformers.test.ts
  src/lib/transformers.ts
Due: prettier --write, vitest related --run

Id corrections for svo
  src/app/layout.tsx
Due: prettier --write, vitest related --run

Not opening playwright report in browser
  playwright.config.ts
Due: prettier --write, vitest related --run

Dependency update
  package-lock.json
  package.json
Due: prettier --write

Colors of Meaning: An Experiment in Machine Synesthesia
  _posts/colors-of-meaning.md
Due: prettier --write

Adding some links in the science-and-religion post
  _posts/science-and-religion.md
Due: prettier --write

Relative link in making-better-decisions-with-adr
  _posts/making-better-decisions-with-adr.md
Due: prettier --write

Adding some links in the colors-of-meaning post
  _posts/colors-of-meaning.md
Due: prettier --write

Opening links in blog posts in another tab
  src/lib/markdownToHtml.test.ts
  src/lib/markdownToHtml.ts
Due: prettier --write, vitest related --run

Gradient background for blog posts
  src/app/_components/post-body.tsx
  src/app/globals.css
Due: prettier --write, vitest related --run

Adding blog navigation
  src/app/_components/post-navigation.test.tsx
  src/app/_components/post-navigation.tsx
  src/app/lib/api.test.ts
  src/app/lib/api.ts
  src/app/posts/[slug]/page.tsx
  src/application/services/PostService.ts
  src/application/use-cases/GetPostNavigation.test.ts
  src/application/use-cases/GetPostNavigation.ts
  src/interfaces/postNavigation.ts
Due: prettier --write, vitest related --run

Adding blog navigation to bottom of post
  src/app/posts/[slug]/page.tsx
Due: prettier --write, vitest related --run

Revert "Gradient background for blog posts"
  src/app/_components/post-body.tsx
  src/app/globals.css
Due: prettier --write, vitest related --run

Whitespace change between banner and navigation
  src/app/_components/post-header.tsx
  src/app/posts/[slug]/page.tsx
Due: prettier --write, vitest related --run

Forcing y position for elements at top of blog posts
  src/app/_components/post-header.tsx
Due: prettier --write, vitest related --run

Working on styling and handling of navigation and title on blog posts
  _posts/colors-of-meaning.md
  _posts/leadership-and-management.md
  _posts/science-and-religion.md
  src/app/_components/post-title.test.tsx
  src/app/_components/post-title.tsx
  src/app/posts/[slug]/page.tsx
Due: prettier --write, vitest related --run

Small gestalt closure addition to colors-of-meaning post
  _posts/colors-of-meaning.md
Due: prettier --write

Alignment of title above banner in post header
  src/app/_components/post-header.tsx
Due: prettier --write, vitest related --run

Weekly not daily scheduled builds
  .github/workflows/builder.yml
  .github/workflows/development.yml
Due: none

Weekly not daily scheduled builds
  .github/workflows/service.yml
Due: none

Link to GitHub project for _posts/colors-of-meaning.md
  _posts/colors-of-meaning.md
Due: prettier --write

npm audit fix
  package-lock.json
Due: prettier --write

Retries for ansible installs to avoid segfaults
  infrastructure/ansible/roles/ansible-lint/tasks/main.yml
  infrastructure/ansible/roles/ansible/tasks/main.yml
Due: none

Address the critical RCE vulnerability in React
  package-lock.json
Due: prettier --write

Dependency update
  package-lock.json
Due: prettier --write

Claude configuration
  .claude/CLAUDE.md
  .claude/skills/README.md
  .claude/skills/hexagonal-architecture-scaffolder/SKILL.md
  .claude/skills/hexagonal-architecture-scaffolder/references/existing-coconut-example.md
  .claude/skills/hexagonal-architecture-scaffolder/references/layer-dependency-rules.md
  .claude/skills/self-documenting-refactor/SKILL.md
  .claude/skills/self-documenting-refactor/references/refactoring-examples-from-codebase.md
  .claude/skills/self-documenting-refactor/scripts/find_comments.py
  .claude/skills/systematic-debugging/SKILL.md
  .claude/skills/systematic-debugging/condition-based-waiting-example.ts
  .claude/skills/systematic-debugging/condition-based-waiting.md
  .claude/skills/systematic-debugging/defense-in-depth.md
  .claude/skills/systematic-debugging/find-polluter.sh
  .claude/skills/systematic-debugging/root-cause-tracing.md
  .claude/skills/test-driven-development/SKILL.md
  .claude/skills/test-driven-development/testing-anti-patterns.md
  .claude/skills/test-generator/SKILL.md
  .claude/skills/test-generator/references/test-examples-from-codebase.md
  .claude/skills/verification-before-completion/SKILL.md
  .gitignore
Due: prettier --write, vitest related --run

Ignoring .claude directory from code coverage reporting
  vitest.config.ts
Due: prettier --write, vitest related --run

Update to README.md to call out manual claude skills
  README.md
Due: prettier --write

The Signal and the Silence: When AI Understands but Cannot Speak
  _posts/the-signal-and-the-silence.md
Due: prettier --write

Site optimization
  package-lock.json
  package.json
  public/robots.txt
  src/app/blog/page.tsx
  src/app/feed.xml/route.test.ts
  src/app/feed.xml/route.ts
  src/app/layout.tsx
  src/app/posts/[slug]/opengraph-image.test.tsx
  src/app/posts/[slug]/opengraph-image.tsx
  src/app/posts/[slug]/page.tsx
  src/app/sitemap.ts
  src/interfaces/post.ts
  src/lib/constants.test.ts
  src/lib/constants.ts
Due: prettier --write, vitest related --run

Exerpt udpate for The Signal and the Silence
  _posts/the-signal-and-the-silence.md
Due: prettier --write

Link path corrections
  _posts/1-on-1-structure.md
  _posts/industrial-revolution-of-software.md
  _posts/leadership-and-management.md
  _posts/making-better-decisions-with-adr.md
Due: prettier --write

Post on The Knowledge That Disappears
  _posts/the-knowledge-that-disappears.md
Due: prettier --write

Adding that draft of The Knowledge That Disappears post was by Aletheia
  _posts/the-knowledge-that-disappears.md
Due: prettier --write

Add not-found page and about layout
  src/app/about/layout.test.tsx
  src/app/about/layout.tsx
  src/app/not-found.test.tsx
  src/app/not-found.tsx
Due: prettier --write, vitest related --run
